.card {
  background: white;
  border-radius: 2px;
  padding: 30px;
  margin: 20px;
  flex: 1 1 350px;
  width: 100%;
}

.card .card_header {
  display: flex;
}

.card .card_header .wrapper_avatar {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.card .card_header .wrapper_avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.card .card_header .wrapper_content {
  margin-top: 5px;
}

.card .card_header .wrapper_content .strong:disabled {
  border: none;
  padding: 0;
}

.card .card_header .wrapper_content .strong {
  color: rgba(0, 0, 0, 0.8);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 20px;
  white-space: nowrap;
  width: 100%;
}

.card .card_header .wrapper_content .span:disabled {
  border: none;
  margin-top: 0px;
}

.card .card_header .wrapper_content .span {
  font-family: "Poppins", sans-serif;
  border: none;
  color: #808080;
  font-size: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-top: 3px;
}

.card .card_body {
  margin: 20px 0;
}

.card .card_body .p:disabled {
  border: none;
}

.card .card_body .p {
  color: #808080;
  font-family: "Poppins", sans-serif;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  resize: none;
  height: 110px;
  line-height: 22px;
  font-size: 16px;
}

.card .card_footer {
  display: flex;
}

.card .card_footer button {
  flex: 1;
  height: 35px;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}

.card .card_footer button:hover {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0) !important;
  transition: all 0.3s ease;
}

.card .card_footer button:nth-child(2).d-none {
  display: none;
  transition: all 0.3s ease;
}

.card .card_footer button:first-child {
  margin-right: 3px;
  cursor: pointer;
}

.card .card_footer button:last-child {
  margin-left: 3px;
  color: #da5757;
  border: 2px solid #da5757;
  cursor: pointer;
}

.card .card_footer button:hover:last-child {
  color: white;
  background: #da5757;
  transition: all 0.3s ease;
}

/* Ipad Pró */
@media (max-width: 930px) {
  .card .card_body .p {
    height: 120px;
  }
}

/* Celphone */
@media (max-width: 428px) {
  .card .card_header .wrapper_content .strong {
    font-size: 18px;
  }

  .card .card_header .wrapper_content .span {
    font-size: 14px;
  }

  .card .card_body .p {
    font-size: 13px;
    line-height: 17px;
  }

  .card .card_footer button {
    height: 33px;
    font-size: 15px;
  }

  .card .card_header .wrapper_avatar {
    width: 60px;
    height: 45px;
    margin-right: 15px;
  }
}
