.card {
  background: white;
  padding: 30px;
  max-width: 400px;
  margin: 20px;
}

.card .card_header {
  display: flex;
}

.card .card_header .wrapper_avatar {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.card .card_header .wrapper_avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.card .card_header .wrapper_content {
  margin-top: 5px;
}

.card .card_header .wrapper_content strong {
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
}

.card .card_header .wrapper_content span {
  color: #808080;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.card .card_body {
  margin: 20px 0;
}

.card .card_body p {
  color: #808080;
  font-family: "Poppins", sans-serif;
  line-height: 22px;
  font-size: 16px;
}

.card .card_footer {
  display: flex;
}

.card .card_footer button {
  flex: 1;
  height: 35px;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: all 0.3s ease;
}

.card .card_footer button:first-child {
  margin-right: 3px;
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.card .card_footer button:hover:first-child {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0) !important;
  transition: all 0.3s ease;
}

.card .card_footer button:last-child {
  margin-left: 3px;
  color: #da5757;
  border: 2px solid #da5757;
  cursor: pointer;
}

.card .card_footer button:hover:last-child {
  color: white;
  background: #da5757;
  transition: all 0.3s ease;
}
