@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap");

/* font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #808080;
  font-family: "Roboto", sans-serif;
}

.wrapper_app {
  margin: 0 30px;
}

.wrapper_app .wrapper_title {
  margin: 50px 0;
  width: 100%;
}

.wrapper_app .wrapper_title h1 {
  font-size: 45px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.wrapper_app .row {
  display: flex;
  flex-direction: row;
}

.wrapper_app .container {
  flex: 2;
  order: 1;
  display: flex;
  flex-wrap: wrap;
}

.wrapper_app .row .wrapper_form {
  order: 2;
  flex: 1;
}

.wrapper_app .row .wrapper_form form {
  margin: 0 30px;
  margin-top: 20px;
  background: white;
  border-radius: 2px;
}

.wrapper_app .row .wrapper_form form .content {
  padding: 25px;
}

.wrapper_app .row .wrapper_form form .content h4 {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
}

.wrapper_app .row .wrapper_form form .content input {
  width: 100%;
  padding: 7px 13px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  font-size: 15px;
}

.wrapper_app .row .wrapper_form form .content button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: white;
  text-align: center;
  background: #00955e;
  margin-top: 15px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.wrapper_app .row .wrapper_form form .content button:hover {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: #00955e;
  text-align: center;
  background: white;
  border: 1px solid #00955e;
  transition: all 0.2s ease;
}

::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
}

/* Ipad Pró  */
@media (max-width: 1024px) {
  .wrapper_app .container {
    flex: 1;
  }
}

/* Ipad */
@media (max-width: 768px) {
  .wrapper_app .row {
    flex-direction: column;
  }

  .wrapper_app .container {
    flex: 2;
    order: 2;
  }

  .wrapper_app .row .wrapper_form {
    order: 1;
  }

  .wrapper_app .row .wrapper_form form {
    margin: 20px;
  }
}
